<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WORTH PRODUCTS SUPPLIES STORE{% endblock %}</title>
        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
            <style>
                .purchase-history {
                    cursor: pointer;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('build/images/mvp-logo-light.png' ) }}"
                            width="50"
                            height="50"
                            alt="WORTH PRODUCTS SUPPLIES STORE"
                    >

                    <span id="banner" class="p-3">WORTH PRODUCTS SUPPLIES STORE</span>
                </a>

                <ul class="navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                            <a id="logout" class="nav-link" href="{{ path('app_logout') }}">
                                Log out
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">
                                Log in
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">
                                Register
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if app.session.get('user') %}
                            <a class="nav-link" href="{{ path('app_cart') }}">
                                Shopping Cart (<span id="js-shopping-cart-items">{{ count_cart_items() }}</span>)
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <ul class="navbar-nav">
                {% if app.session.get('user') %}
                    <li class="nav-item">
                        <a id="clear-history" class="purchase-history navbar-nav text-white float-right mr-4 mb-2 mt-0">X</a>
                        <a id="purchase-history" class="purchase-history navbar-nav text-white float-right mr-2 mb-2 mt-0">Purchase History</a>
                        <p class="navbar-nav text-white float-right mr-4 mb-2 mt-0">Welcome, {{app.session.get('user').email}}!</p>
                    </li>
                {% endif %}
            </ul>
        </header>

        {% block body %}{% endblock %}

        <p class="footer mb-0">
            Built with<span> VUE.JS Version 3 </span>by Miroslav Mirchev
            <a href="https://github.com/mirchev1977/worth-products-supplies-store" target="_blank">
                Source of the WORTH PRODUCTS SUPPLIES STORE
            </a>
        </p>

        {% block javascripts %}
            <script>
                {% if app.session.has('_cart_id') %}
                    window.cartIri = '{{ app.session.get('_cart_'~app.session.get('_cart_id'))|iri }}';
                {% else %}
                    window.cartIri = null;
                {% endif %}

                {% if app.session.get('user') %}
                    window.user = {};
                    window.user.email = '{{app.session.get('user').email}}';
                    window.user.id    = '{{app.session.get('user').id}}';

                    let usersLS = JSON.parse(localStorage.getItem("usersLS"));
                    if ( !usersLS ) window.localStorage.setItem("usersLS", JSON.stringify({}));

                    usersLS = JSON.parse(localStorage.getItem("usersLS"));

                    if ( ! usersLS[window.user.email] ) {
                        usersLS[window.user.email] = {};
                    }

                    window.localStorage.setItem("usersLS", JSON.stringify(usersLS));

                    var myHistory = window.localStorage.getItem('myHistory');

                    if (myHistory) {
                        window['myHistory'] = true;
                    } else {
                        window['myHistory'] = false;
                    }

                    var banner = document.getElementById('banner');
                    var logout = document.getElementById('logout');
                    banner.addEventListener('click', function () {
                        window.localStorage.removeItem("myHistory");
                    });
                    logout.addEventListener('click', function () {
                        window.localStorage.removeItem("myHistory");
                    });

                    var clearHistory = document.getElementById('clear-history');
                    clearHistory.addEventListener('click', function () {
                        let usersLS = JSON.parse(localStorage.getItem("usersLS"));
                        usersLS[window.user.email] = {};
                        window.localStorage.setItem("usersLS", JSON.stringify(usersLS));
                        window.localStorage.removeItem("myHistory");
                        window.location.replace('/');
                    });

                var purchaseHistory = document.getElementById('purchase-history');
                    purchaseHistory.addEventListener('click', function () {
                        window.location.replace('/');
                        window.localStorage.setItem("myHistory", 1);
                    });
                {% endif %}
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
